.content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
  
  .settings {
    padding: 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    width: 70%;
    margin: auto;
  }
  
  .banner {
    width: 45%;
    align-self: center;
    padding: 8px;
  }

  .settings_select {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .errorMessage{
    font-size: small;
    color: red;
    display: flex;
  }
  
  @media (max-width: 800px) {

    .banner {
      width: 65%;
      padding: 0;
      padding-top: 20px;
      margin-bottom: 20px;
    }
    .settings {
      width: 100%;
    }
  }

  @media (min-width: 1200px) {
    .banner {
      width: 35%;
    }
  }