
  .question {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .singleQuestion {
    width: 80%;
    min-height: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border: 3px solid grey;
    padding: 20px;
    margin-top: 10px;
    background-color: #F9F7F7;
  }

  .progressBar{
    width: 80%;
    margin-bottom: 20px;
  }

  .options {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
  }

  .singleOption {
    width: 45%;
    min-height: 50px;
    padding: 10px 10px;
    margin: 10px;
    transition: all 0.7s ease;
    
  }

  .singleOption:hover{
    cursor: pointer;
  }

  .controls {
    display: flex;
    width: 100%;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  .controls button{
    height: 35px;
    text-transform: unset;
  }

  .showAnswerButton{
    padding: 8px 22px;
    font-size: 0.9375rem;
    
  }
  .correct {
    background-color: rgb(7, 207, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }
  
  .wrong {
    background-color: rgb(233, 0, 0);
    color: white;
    box-shadow: 0 0 1px black;
  }

  @media screen and (max-width: 600px) {
    .showAnswerButton{
      order: 3;
      flex: 1;
    }
    .controls button{
      width: 50%;
    }
    .singleOption{
      width: 70%;
    }
  }