@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Poppins:wght@200;300&display=swap');



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: inherit;
    color: inherit;
}